@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}

header {
  height: auto;
}

header .wrapper {
  min-height: 70vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: clamp(2rem, 5vw, 4rem);
  gap: 2rem;
}

/* .portfolio-intro {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
} */

.portfolio-title {
  font-size: 3rem;
  font-weight: 800;
  color: var(--white);
  height: fit-content;
}

.portfolio-title span:first-child {
  color: var(--primary);
}

.portfolio-title span:nth-child(2) {
  color: var(--primary-dark);
}

.command-line .cursor {
  height: 3rem;
  width: 1.5rem;
  background-color: var(--secondary);
  animation: blink 1s infinite;
}

.portfolio-subtitle {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.portfolio-subtitle p {
  margin: 0;
}

.portfolio-subtitle h3 {
  font-size: 1.25rem;
  font-weight: 900;
  min-height: 1.8em;
  margin: 0;
}

.portfolio-subtitle h4 {
  font-weight: 600;
  min-height: 1.5em;
  margin: 0;
}

.command-line {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.socials a {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  background-color: var(--primary);
  border-radius: var(--soft-border);
  color: var(--reel-white);
  transition: all 0.3s ease;
}
.socials a:hover {
  background-color: var(--secondary);
  color: var(--reel-white);
  transform: translateY(-2px) scale(1.05);
}

.skills {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.skills > div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.skills > div > div:last-child {
  font-weight: 900;
}

.skills div .bullet {
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.skills .html .bullet {
  background-color: var(--primary);
}

.skills .react .bullet {
  background-color: var(--primary);
}

.skills .php .bullet {
  background-color: var(--secondary);
}

.skills .python .bullet {
  background-color: var(--primary);
}

.skills .django .bullet {
  background-color: var(--primary);
}

.skills .cpp .bullet {
  background-color: var(--secondary);
}

.skills .javascript .bullet {
  background-color: var(--secondary);
}

.skills .wordpress .bullet {
  background-color: var(--primary);
}

.skills .sql .bullet {
  background-color: var(--primary);
}

.skills .github .bullet {
  background-color: var(--primary-dark);
}

.theme {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: var(--transparent-back);
  box-shadow: var(--transparent-box-shadow);
  backdrop-filter: var(--transparent-backdrop-filter);
  color: var(--white);
  transition: all 0.3s ease;
  cursor: pointer;
  right: 30px;
  z-index: 100;
}

.theme:hover {
  background-color: var(--white);
  color: var(--black-dark);
  transform: translateY(-2px) scale(1.05);
}

@media (width < 1024px) {
  header .wrapper {
    min-height: 50vh;
    padding: 4rem 2rem 2rem;
  }

  .portfolio-title {
    font-size: 2.5rem;
  }

  .command-line {
    gap: 1rem;
  }

  .command-line .cursor {
    width: 1.2rem;
    height: 2.5rem;
  }

  .socials {
    gap: 1rem;
  }

  .skills {
    gap: 0.5rem;
  }
}

@media (width < 768px) {
  header .wrapper {
    padding: 4rem 1rem 1rem;
  }

  .portfolio-title {
    font-size: 1.3rem;
  }

  .command-line .cursor {
    width: 0.6rem;
    height: 1.3rem;
  }

  .portfolio-subtitle h3 {
    font-size: 1.1rem;
  }

  .portfolio-subtitle h4 {
    font-size: 1rem;
  }

  .command-line {
    gap: 1rem;
  }

  .socials {
    gap: 1rem;
  }

  .socials a {
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
  }

  .skills {
    gap: 0.5rem;
  }
}
